{% extends 'marketing/exec_base.html' %}

{% load static %}
{% block main %}

<link rel="stylesheet" href="{% static 'assets/css/marketing/TL_carddet.css' %}">
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <label>Product Name:</label> <br>
            <label class="mt-3">Posted Date:</label> <br>
            <label class="mt-3">Target:</label> <br>

            <label class="mt-5">Product Description:</label>

            <p class="mt-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque corporis eos dolorem officia illo cupiditate mollitia. Velit culpa architecto consectetur est quos ea, et, minima facilis totam optio, voluptatum error.</p>

            <div id="btndiv" class="mt-5"><br>
            <button class="btn btn-secondary" onclick="location.href='/marketingapp/exec_productdata'">View Data</button>
            </div>

        </div>
    </div>
</div>


{% endblock %}    