{% extends 'marketing/exec_base.html' %}

{% load static %}
{% block main %}

<link rel="stylesheet" href="{% static 'assets/css/marketing/TL_carddet.css' %}">
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <label>Reported issue:</label> <br>
            <label class="mt-3">Reorted Date:</label> <br>

            <label class="mt-5">Issue Details:</label>

            <p class="mt-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque corporis eos dolorem officia illo cupiditate mollitia. Velit culpa architecto consectetur est quos ea, et, minima facilis totam optio, voluptatum error.</p>

            <label for="" class="mt-4">Action Taken:</label>

            <p class="mt-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque corporis eos dolorem officia illo cupiditate mollitia. Velit culpa architecto consectetur est quos ea, et, minima facilis totam optio, voluptatum error.</p>


        </div>
    </div>
</div>


{% endblock %}    