{% extends 'marketing/marketingTL_base.html' %}

{% load static %}
{% block main %}

<link rel="stylesheet" href="{% static 'assets/css/marketing/TL_cardlist.css' %}">

<div class="container desktopcont">

    <a href="{% url 'marketingTL_productdet' %}">
        <div class="card">
            <div class="card-body">
                <p class="pp"><span id="s1">test</span> <span id="s2">test</span> <span id="s3">test</span></p>
            </div>
        </div>
    </a>
</div>

<div class="container mobcont">

    <a href="{% url 'marketingTL_productdet' %}">
        <div class="card">
            <div class="card-body">
                <p class="pp">test</p>
                <p class="pp">test</p>
                <p class="pp">test</p>

            </div>
        </div>
    </a>        
</div>
{% endblock %}    