{% extends 'index_accounts.html' %} {% load static %} {% block content %}

<body>
    <style>
        table tr[data-href] {
            cursor: pointer;
        }
    </style>



    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <h4> Payment Details</h4>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            {% comment %} <form>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
                                </div>
                            </form> {% endcomment %}
                        </div>
                    </div>

                    <!-- table start hear -->

                    <div class="table-responsive">
                        <table class="table " id="myTable">
                            <thead>

                                <tr >
                                    <th style="padding-left:38px;"> Date </th>
                                    <th style="padding-left:15px;"> Name </th>
                                    <th style="padding-left:12px;"> Amount </th>
                                    
                                    <th style="padding-left:28px;">Download </th>
                                    <th style="padding-left:15px;"> Status </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if a.course.name == none %}
                                <h5>No course selected </h5>
                                {% else %}
                                {% if pay %} {% for i in pay %}

                                {% if i.amount_status == '1' %}
                                <tr>
                                    <td>{{i.amount_date|date:"d-m-Y"}}</td>
                                    <td> {{i.user_id.fullname}}</td>
                                    <td>{{i.amount_pay}}</td>
                                    <!-- <td>0000 </td> -->
                                    
                                    <td> 
                                    {% if i.amount_downlod %}                
                                        <a href="{{i.amount_downlod.url}}" class="btn btn-outline-primary mr-2 ml-6  " style="font-size: 15px; font-weight: 100;"  download>  Download</a>
                                    {% endif %} 
                                    </td>
                                    <td>   
                                        Verified
                                    </td>
                                </tr>
                                {% endif %}

                                {% if i.amount_status == '0' %}
                                <tr>
                                    <td>{{i.amount_date|date:"d-m-Y"}}</td>
                                    <td>{{i.user_id.fullname}}</td>
                                    <td><input type="text" class="form-control text-light" value="{{i.amount_pay}}" name="amount" id="amid"></td>
                                    
                                    <td>{% if i.amount_downlod %}
                                        <a href="{{i.amount_downlod.url}}" class="btn btn-outline-primary mr-2 ml-6  " style="font-size: 15px; font-weight: 100;"  download>  Download</a>
                                      {% endif %}
                                    </td>
                                    <td>
                                        <a href="/verify/{{i.id}}"  class="btn btn-outline-warning mr-2 ml-6 btn-icon-text" >Verify </a>
                                        
                                        <!-- <button type="submit" class="btn btn-outline-warning mr-2 ml-6 btn-icon-text" id="balance" value="{{i.balance_amt}}">Verify</button> -->
                                    </td>
                                </tr>
                                {% endif %}

                                {% endfor %}{% else %}
                                <h5>Nothing to display...</h5>
                                {% endif %}
                                {% endif %}
                                
                            </tbody>
                        </table>
                        <div class="row mt-5 mb-3">
                        <div class="col-12 col-sm-9 col-md-9 col-lg-9 ">
                            <label class="">Balance : {{a.payment_balance}}</label>
                            <!-- <p>{{a.payment_balance}}</p> -->
                        </div>
                        <div class="col-12 col-sm-3 col-md-3 col-lg-3">
                            <label class="">Total : {{a.course.total_fee}}</label>
                            <!-- <p>{{c.total_fee}}</p> -->
 
                        </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }


    
</script>

{% endblock %}