<div class="row">
    <div class="col-12 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="table-responsive">
        
        <table class="table table-bordered mt-4 text-light col-sm-12 col-md-8 col-lg-8 " style=" width: 1200px;">
            <tr>
                <th>PARTICULARS</th>
                <th>EMPLOYEE NUMBER</th>
                <th>ACCOUNT NUMBER</th>
                <th>BANK NAME</th>
                <th>BRANCH</th>
                <th>EMAIL-ID </th>
                <th>VIEW SLIP</th>
            </tr>
            <tbody>
                {% if names %} {% for i in names %}
                <tr>
                    <td>{{i.user_id__fullname}}</td>
                    <td>{{i.eno}}
                    </td>
                    <td>
                        {{i.user_id__account_no}}</td>
                    <td>
                        {{i.user_id__bank_name}}</td>
                    <td>
                        {{i.user_id__bank_branch}}</td>
                    <td>
                        {{i.user_id__email}}</td>
                    <td style="text-decoration: none;">
                        <a href="/accounts_paydetails/{{i.id}}/{{i.user_id__id}}">View slip</a>
                </tr>
                {% endfor %} {% else %}
                <h5>Nothing to display...</h5>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>