{% extends 'index_accounts.html' %} {% block content %} {% load static %}

<div class="row" style="padding-top:20px;">
    {% for i in des %}
    <div class="col-sm-6 grid-margin">
        <a href="/accounts_payment_list/{{mem.id}}/{{i.id}}/"  style="text-decoration: none">
            <div class="card" style="height: 180px">

                <div class="card-body">

                    <div class="row" style="padding-top:20px;">
                        <div class="col-8 col-sm-12 col-md-6 col-lg-8  my-auto">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">

                                <h3 class="mb-0" style="color:white;font-size:20px; ">{{i.designation}}</h3>

                            </div>
                        </div>
                            <div class="col-4 col-sm-12 col-md-6 col-lg-4 text-center text-xl-right">
                                <i class="icon-lg mdi mdi-account-group text-primary ms-auto"></i>
    
                            </div>
                        
                    </div>

                </div>

            </div>
        </a>
    </div>
    {% endfor %}
</div>
    

{% endblock %}