<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load static %}
<html>
    <head>
       

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
                integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        
            <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
        
            <link rel="stylesheet" href="{% static 'assets/vendors/jvectormap/jquery-jvectormap.css' %}">
            <link rel="stylesheet" href="{% static 'assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
        
            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        
            <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" />
            <script src="{% static 'assets/vendors/js/vendor.bundle.base.js'%}"></script>
            <script src="{% static 'assets/vendors/chart.js/Chart.min.js'%}"></script>
            <script src="{% static 'assets/vendors/chart.js/Chart.min.js'%}"></script>

           
        
        <title>Infox core</title>
        <style type="text/css">
            table { border: 1px solid #666666;  border-collapse:collapse; border-color:#ccc; margin-top:30px;}
            td, th { border: 2px solid #666666; font-size:15px; line-height:25px; border-bottom:2px solid #666666; vertical-align:top; padding-top:10px; margin-left:10px;   padding-bottom:10px; font-family:"Lucida Grande", Verdana, Arial, sans-serif; }
            
                
            body {
                font-weight: 200;
                font-size: 14px;
      
            }
            .header {
                font-size: 20px;
                font-weight: 100;
                text-align: center;
                color: #007cae;
            }
            .title {
                font-size: 25px;
                font-weight: 100;
              
               padding: 10px 20px 0px 20px;
            }
            .title span {
                color: #007cae;
            }
            .details {
                padding: 10px 50px 0px 50px;
                text-align: left !important;
                
            }
            .hrItem {
                border: none;
                height: 1px;
                /* Set the hr color */
                color: #333; /* old IE */
                background-color: #fff; /* Modern Browsers */
            }
            .details .content{
                text-align: justify;
                font-size: 20px !important;
                line-height: 30px;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                

            }
        </style>
    </head>
    <body>
        <img src="static/infox.jpeg" >

 
    
{% comment %}       
        <div class='details text-justify'>
            <div class="content"> {% endcomment %}
                
            {% comment %} <div class="content">This is to certify that <b>Mr./Ms </b><b>{{ mem.fullname }}</b> 
                (REG.NO : <b>{{mem.reg_no}})</b> student of <b> {{mem.course}} ({{mem.stream}}) </b> from <b>{{mem.collegename}}</b>, 
                has successfully completed his/her internship in <b>{{ mem.platform }}</b> in this organization, under 
                the guidance of <b>{{mem.guide}}</b>. The duration of internship was from <b>{{ mem.start_date }}</b> to<b> 
                    {{ mem.end_date }}</b>.<br><br>
                  <p style="text-indent:2cm;"><b>Mr./Ms {{mem.fullname}}</b> has exibited professional behaviour during the period of internship.
                  The contribution that he/she made to the organization during this tenture has been <b>{{mem.rating}}</b>.</p>
                    <br>
                    <br> {% endcomment %}
                    
                    
                  
                    <div class="col-12 grid-margin">
                        <div class="card mt-3 mb-5">
                            <div class="card-body bg-light text-dark">
                                <form class="form-sample">
                                    <div class="row ">
                                        
                                        <div class="col-8 col-md-10 mt-3 " >
                                            <img src="static/infox.jpeg" >
                                         
                                        </div>
                                        <h2><center><div><b>PROMISSORY NOTE</b></div></center></h2>
                                        <div><p style="color: black; width: 200px;"><b>Date:&nbsp;{{date|date:'d-m-Y'}}</b></p></div>
                                        <div>Name:&nbsp;{{mem.user_id.fullname}}</div>
                                        <div>Department:&nbsp;{{mem.user_id.department.department}}</div>
                                        <div>INSTALLMENTS – Employee shall pay {{a}} Only INR (<span class="WebRupee">Rs</span>{{mem.user_id.total_pay}} )
                                            a monthly basis with any remaining balance payable on the Due Date.
                                            In the event the Employee fails to pay the note in-full on the Due Date, on the
                                            basis unpaid principal Management can terminate the contract of Employee</div>
                                        <div class="table-responsive ">
                                            <table class="table table-bordered mt-4 mr-3 text-dark">
                                                <tr>
                                                    <th >INITIAL PAYMENT</th>
                                                    <th >PAID</th>
                                                    <th >SECOND PAYMENT</th>
                                                    <th >PAID </th>
                                                    <th >FINAL PAYMENT </th>
                                                    <th >PAID </th>
                                                </tr>
                                                <tr>
                                                    <td>Amount {{mem.inital_amount}} </td>
                                                    <td></td>
                                                    <td>Amount{{mem.second_amount}}</td>
                                                    <td></td>
                                                    <td>Amount{{mem.final_amount}}</td>                                                    
                                                    <td></td>
        
                                                    
                                                </tr>
                                                <tr>
                                                    <td>Paid on{{mem.inital_paid_on}}</td>
                                                    <td>{{mem.inital_paid_amount}}</td>
                                                    <td>Due on {{mem.second_due_on}} </td>
                                                    <td>{{mem.second_paid_amount}}{{mem.second_paid_date}}</td>
                                                    <td>Due on {{mem.final_due_on}}</td>
                                                    <td>{{mem.final_paid_amount}}{{mem.final_paid_date}}</td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td>{{mem.inital_balance_amount}}Balance Payment Due on{{mem.inital_due_date}}</td>
                                                    <td>{{mem.inital_balance_amount}}{{mem.inital_paid_date}}</td>

                                                    <td>{{mem.second_balance_amount}}Balance Payment Due on{{mem.second_due_date}}</td>
                                                    <td>{{mem.second_balance_amount}}{{mem.second_paid_date}}</td>

                                                    <td>{{mem.final_balance_amount}}Balance Payment Due on{{mem.final_due_date}}</td>
                                                    <td>{{mem.final_balance_amount}}{{mem.final_paid_date}}</td>
        
                                                    
                                                </tr>
                                                <tr>
                                                    <td>Total Payments</td>
                                                    <td>{{mem.inital_total_payment}}</td>
                                                    <td></td>
                                                    <td>{{mem.second_total_payment}}</td>
                                                    <td></td>
                                                    <td>{{mem.final_total_payment}}</td>
        
                                                    
                                                </tr>
                                            
                                                   
                                              
        
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
               
                                
            </div>
        </div>
    </div>
    
</span>       
</div>


    </div>
    <script>
        var today = new Date();
        var date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
         document.getElementById("currentDate").value = date;


    <script src="{% static 'assets/js/off-canvas.js' %} "></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %} "></script>
    <script src="{% static 'assets/js/misc.js' %} "></script>
    <script src="{% static 'assets/js/settings.js' %} "></script>
    <script src="{% static 'assets/js/todolist.js' %} "></script>

    <script src="{% static 'assets/js/dashboard.js' %} "></script>

    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js'%} "></script>

    <script src="{% static 'assets/js/chart.js'%} "></script>
    </script>
        
    </body>
</html>