{%extends 'index_accounts.html'%} {% load static %} {% block content %}

<style>
    table tr {
        cursor: pointer;
    }
</style>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 grid-margin">
      <div class="card mt-3 mb-5">
        <div class="card-body">
          <form class="form-sample">
            <div class="row">
              <div class="col-6 col-sm-8 col-md-9 col-lg-10">
                <h4 class="page-title"> EXPENSES </h4>
              </div>
              <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <a href="/accounts_expense_newTransaction" class="btn btn-outline-primary btn-icon-text" style="height: 50px;width: 110px;">New Transaction</a>
              </div>
            </div>
                <div class="table-responsive">
                    <table class="table  table-bordered w-80">
                        <thead>
                            <tr>
                                <th class="text-white " >
                                    Date
                                </th>
                                <th class="text-white">
                                    Payee
                                </th>
                                <th class="text-white">
                                    Category
                                </th>
                                <th class="text-white">
                                    Total Before Tax
                                </th>
                                <th class="text-white" >
                                    Tax
                                </th>
                                <th class="text-white">
                                    Total
                                </th>
                                <th class="text-white">
                                    Action
                                </th>
                            </tr>
                            
                        </thead>
                        
                        <tbody>
                            <br>
                            {% for i in vars %}
                            <tr>
                                <td>
                                    {{i.paydate}}
                                </td>
                                <td>
                                    {{i.payee}}
                                </td>
                                <td>{{ i.category }}</td>
                                <td>
                                    {{i.amount}}
                                </td>
                                <td>
                                    {{i.tax}}
                                </td>
                                <td>
                                    {{i.total}}
                                </td>
                                <td>

                                    <a href="{% url 'accounts_expenses_viewEdit' i.id %}" class="btn btn-outline-primary btn-icon-text" >View/Edit</a>
                                </td>


                            </tr>  
                            {% endfor %}                                                    
                        </tbody>
                        <tr>
                            <td colspan="5" class="text-white" style="text-align: center;">
                                Total
                            </td>
                            <td id="totalsalary" colspan="2" class="text-white" style="padding-right: 20px;"></td>
                        </tr>
                        
                    </table>
                </form>
                </div>
            </div>
    </div>  
</div>

<script>
    $(document).ready(function () {
        var empsalary;
        var totalsalary =0;
       
        $('td:nth-child(6)').each(function () {
            empsalary = $(this).html();
            console.log(typeof(empsalary));
            a=parseInt(empsalary)
            totalsalary += a;
            console.log(a);
            console.log(totalsalary);
           
            $('#totalsalary').text(totalsalary);
            
        });
    });


            
  </script>


{% endblock %}