{% extends 'index_accounts.html' %} {% block content %}{% load static %}

<!-- Give task for trainees -->
<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none;
  }
  </style>
{% for i  in  mem1 %}
{% if i.bank_name == '' %}

<div class="row mt-5">
  <div class="col-12 col-sm-1 col-md-2 col-lg-2"></div>

  <div class="col-12 col-sm-10 col-md-9 col-lg-9 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        
        <form
          class="forms-sample"
          method="post"
          enctype="multipart/form-data"
          autocomplete="OFF" 
          action="{% url 'accounts_add_bank_acnt' i.id %}"
        >
          {% csrf_token %}
          <div class="row">
            <div class="col-8 col-sm-8 col-md-10 col-lg-10 mt-3">
              <h4 class="card-description"> Add Bank Account Details</h4>
            </div>
            <div class="col-4 col-sm-4 col-md-2 col-lg-2">
              
              <img src="{{media_url}}{{i.photo.url}}" class="img-fluid rounded-circle mb-3 " alt="image"
                style="margin-right:20px">

             
            </div>
          </div>
          <p class="card-description"> Bank details </p>
          <div class="row">
            <div class="col-md-12">
              <div class="row"></div>
              
              <div class="form-group row">
                <label
                  for="exampleInputEmail2"
                  class="col-5 col-sm-3 col-md-3 col-lg-3 col-form-label"
                  >Account Number</label
                >
                <div class="col-7 col-sm-8 col-md-8 col-lg-8">
                  <input
                    type="number"
                    class="form-control text-light"
                    name="account_no"
                    id="" required
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="row"></div>
              <div class="form-group row">
                <label
                  for="exampleInputEmail2"
                  class="col-5 col-sm-3 col-md-3 col-lg-3 col-form-label"
                  >IFSC</label
                >
                <div class="col-7 col-sm-8 col-md-8 col-lg-8">
                  <input
                    type="text"
                    class="form-control text-light"
                    name="ifsc"
                    id="" required
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="row"></div>
              <div class="form-group row">
                <label
                  for="exampleInputEmail2"
                  class="col-5 col-sm-3 col-md-3 col-lg-3 col-form-label"
                  >Branch</label
                >
                <div class="col-7 col-sm-8 col-md-8 col-lg-8">
                  <input
                    type="text"
                    class="form-control text-light"
                    name="bank_branch"
                    id="" required
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="row"></div>
              <div class="form-group row">
                <label
                  for="exampleInputEmail2"
                  class="col-5 col-sm-3 col-md-3 col-lg-3 col-form-label"
                  >Bank Name</label
                >
                <div class="col-7 col-sm-8 col-md-8 col-lg-8">
                  <input
                    type="text"
                    class="form-control text-light"
                    name="bank_name"
                    id="" required
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4 col-sm-5 col-md-5"></div>
            <div class="col-7 col-sm-5 col-md-7">
              <button
                type="submit"
                class="btn btn-outline-primary btn-icon-text mt-3"
              >
                <i class="mdi mdi-file-check btn-icon-prepend"></i> Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



{% endif %}
{% endfor %}
{% for i  in  mem1 %}

{% if i.bank_name != '' %}

<div class="row mt-5">
  <div class="col-12 col-sm-1 col-md-2 col-lg-2"></div>

  <div class="col-12 col-sm-10 col-md-9 col-lg-9 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">


  

    <div class="row">
      <div class="col-8 col-sm-8 col-md-10 col-lg-10 mt-3">
        <h4 class="card-description"> Bank Account Details </h4>
      </div>
      <div class="col-4 col-sm-4 col-md-2 col-lg-2">
        <img src="{{media_url}}{{i.photo.url}}" class="img-fluid rounded-circle mb-3 " alt="image"
          style="margin-right:20px">
      </div>
    </div>
    <p class="card-description"> Bank details </p>

    
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group row">
          <label class="col-6 col-sm-6 col-md-6 col-lg-6 col-form-label">Full Name:</label>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <p class="mt-2">{{i.fullname}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group row">
          <label class="col-6 col-sm-6 col-md-6 col-lg-6 col-form-label">Account Number:</label>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <p class="mt-2">{{i.account_no}}</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group row">
          <label class="col-6 col-sm-6 col-md-6 col-lg-6 col-form-label">IFSC:</label>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <p class="mt-2">{{i.ifsc}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group row">
          <label class="col-6 col-sm-6 col-md-6 col-lg-6 col-form-label">Branch:</label>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6">
            <p class="mt-2">{{i.bank_branch}}</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="form-group row">
          <label class="col-6 col-sm-6 col-md-6 col-lg-6 col-form-label">Bank Name</label>
          <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">
            <p class="mt-2">{{i.bank_name}}</p>
          </div>
        </div>
      </div>
    </div>
    
      
  
{% endif %}

{% endfor %}

<!-- ends here -->
<!-- ends here -->
{% endblock %}
