{% extends 'BRadmin_index.html' %}
{% block content %}
{% load static %}

<style>
  table tr[data-href] {
    cursor: pointer;
  }
  </style>

<div class="row ">
    <div class="col-12 grid-margin">
      <div class="card mt-3">
        <div class="card-body">
          <h4 class="card-title">Previous Trainees</h4>
          <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" class="form-control" style="color:white;">
          <div class="table-responsive">
            <table class="table" id="myTable">
              <thead>
                <tr>
                  <th> Trainee Name </th>
                  <th> Employee ID </th>
                  <th> Department </th>
                  <th> Joining Date </th>
                  <th> End Date </th>
                </tr>
              </thead>
              <tbody>


                {% for i in user_registration %}
                {% for j in user_registration2 %}
                  {% if i.team.id == j.team.id and j.status == 'Resign' %}

                <tr data-href="{% url 'BRadmin_View_Previoustraineeprofile' j.id %}">
                  <td>
                    {{j.fullname}}
                  </td>
                  <td> {{j.id}} </td>
                  <td> {{j.department}} </td>
                  <td> {{j.joiningdate|date:"d-m-Y"}} </td>
                  <td> {{j.enddate|date:"d-m-Y"}} </td>
                </tr>
                 {% endif %}
                  {% endfor%}
                  {% endfor%}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function myFunction() {
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }       
      }
    }

$(document).ready(function(){
  $('table tr').click(function(){
    window.location = $(this).data('href');
    return false;
});
});
    </script>
    


{% endblock %}