{%extends 'BRadmin_index.html'%}
{% load static %}
{% block content %}


<div class="row" style="padding-top:20px; ">
  <div class="col-12 col-sm-2 col-md-2 col-lg-2"></div>
  
<div class="col-12 col-sm-8 col-md-8 col-lg-8 grid-margin stretch-card">
    <div class="card"  >
      <div class="card-body" style="height:auto;padding-top:20px; ">
        <br>
        <center>
        <h3 class="card-title"> Change Password</h3>
        </center>
      <br><br>
        
        <form class="forms-sample" method="post" autocomplete="off" >
        {% csrf_token %}
            

              <div class="form-group row">
                <label for="exampleInputEmail2" class="col-4 col-sm-4 col-md-4 col-lg-4 col-form-label ">Current Password</label>
                <div class="col-8  col-sm-8 col-md-8 col-lg-8">
                  <input type="password" name="currentPassword"  class="form-control text-light" id="" >
                </div>
              </div>
          
          <div class="form-group row">
            <label for="exampleInputEmail2" class="col-4 col-sm-4 col-md-4 col-lg-4 col-form-label" >New Password</label>
            <div class="col-8  col-sm-8 col-md-8 col-lg-8">
              <input type="password" name="newPassword" class="form-control text-light" id="" Required>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputMobile" class="col-4 col-sm-4 col-md-4 col-lg-4 col-form-label">Confirm Password</label>
            <div class="col-8  col-sm-8 col-md-8 col-lg-8">
                <input type="password" name="confirmPassword" class="form-control text-light" id="" >
            </div>
          </div><br><br>
          
        
          <div class="row mb-5">
              <center>
              <button type="Submit" class="btn btn-outline-primary btn-icon-text"><i class="mdi mdi-file-check btn-icon-prepend"></i>
                 Submit </button>
              </center>
            </div>
          </div>
        </form>
        </div>      
      </div>
    </div>
  </div>
</div>
</div>




<script>
function validatePassword() {
var currentPassword,newPassword,confirmPassword,output = true;

currentPassword = document.frmChange.currentPassword;
newPassword = document.frmChange.newPassword;
confirmPassword = document.frmChange.confirmPassword;

if(!currentPassword.value) {
currentPassword.focus();
document.getElementById("currentPassword").innerHTML = "required";
output = false;
}
else if(!newPassword.value) {
newPassword.focus();
document.getElementById("newPassword").innerHTML = "required";
output = false;
}
else if(!confirmPassword.value) {
confirmPassword.focus();
document.getElementById("confirmPassword").innerHTML = "required";
output = false;
}
if(newPassword.value != confirmPassword.value) {
newPassword.value="";
confirmPassword.value="";
newPassword.focus();
document.getElementById("confirmPassword").innerHTML = "not same";
output = false;
} 	
return output;
}
</script>


{% endblock %}