{%extends 'BRadmin_index.html'%} {% load static %} {% block content %}

<style>
  .dropdown-item:hover {
    color: #f4f4f8;
  }

</style>



<div class="row" style="padding-top: 20px">
  <div class="col-sm-6 grid-margin">
    <a href="{% url 'add_dept' %}" style="text-decoration: none">
      <div class="card" style="height: 335px">
        <div class="card-body">
          <div class="row" style="padding-top: 50px">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h3 class="mb-0" style="color: white;">Create Department</h3>
              </div>
            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-account-multiple-plus text-success ms-auto"></i>
            </div>
          </div>
        </div>

      </div>
    </a>
  </div>
</div>
 
  <div class="row">
    {% for i in condent %}
    <div class="col-sm-4 grid-margin">
      <div class="card">
        <a href="{% url 'BRadmin_proj_det' i.id %}"  style="text-decoration: none; color: white;">
          
          <div class="card-body">
            
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0">{{i.department}}</h4>
                  <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+3.5%</p> -->
                </div>
                <!-- <h6 class="text-muted font-weight-normal">11.38% Since last month</h6> -->
                <br>
                <br>
                <a href="{% url 'delete' i.id %}" class="btn btn-social-icon-text btn-outline-danger" 
                  onclick="return confirm('Are you sure you want to delete this item?');">
                  <i class="mdi mdi-delete-forever"></i> Delete</a>
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                 <img src="{{i.files.url}}" width="100" height="100">
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
 {% endblock %}

 <!-- onclick="return confirm('Are you sure you want to delete this item?');" -->