{% extends 'BRadmin_index.html' %}
{% load static %}
{% block content %}
 


<!-- <div class="content-wrapper"> -->
  <center>
    <div class="row " style="margin-top: 20px;">
      <div class="col-sm-6 grid-margin">
        <div class="card">
          <a href="{% url 'BRadmin_traineestable' id %}" style="text-decoration: none;color: white;">
            <div class="card-body">
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h4 class="mb-0">Trainees</h4><h2 style="margin-left:30px">{{num}}</h2>
                  </div>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-account-multiple-outline text-primary ms-auto"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-6 grid-margin">
        <div class="card">
          <a href="{% url 'BRadmin_topictable' id %}" style="text-decoration: none;color: white;">
            <div class="card-body">
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h4 class="mb-0">Topics</h4><h2 style="margin-left:30px">{{num1}}</h2>
                  </div>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-book-open text-danger ms-auto"></i>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>


  </center>
<!-- </div> -->
{% endblock %}