{% extends 'BRadmin_index.html' %}
{% load static %}
{% block content %}

<style>
.progress {

  background-color: #f1f1f1;
  margin-bottom: 1rem;
  height: 1rem;
}

</style>

<div class="container d-flex justify-content-center" >  
    <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-muted">Project Details</h3>
            <div class="row">
                
                    <div class="col-md-5 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            <center>
                              <img class="img-sm rounded-circle " src=" {{proj_det.files.url}}" alt="">
                            </center>
                            <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                              <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                                <center>
                                <h4 class="mb-0">{{proj_det.project}}</h4>
                                </center>
                              </div>
                              {% comment %} <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                                <h6 class="font-weight-bold mb-0">$236</h6>
                              </div> {% endcomment %}
                            </div>
                            <center>
                            <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                              
                              <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                                <h6 class="mb-0">Start Date :</h6>
                                
                              </div>
                              <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                                <h6 class="font-weight-bold mb-0">{{proj_det.startdate|date:"d-m-Y"}} </h6>
                              </div>
                            
                            </div>
                            <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                              
                                <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                                  <h6 class="mb-0">Due Date :</h6>
                                  
                                </div>
                                <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                                  <h6 class="font-weight-bold mb-0">{{proj_det.enddate|date:"d-m-Y"}} </h6>
                                </div>
                              
                              </div>
                            </center>
                          </div>
                        
                        </div>
                      
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                          <div class="card-body">
                            
                            <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
                              <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                              <center>
                                <h4 class="mb-0">Description</h4>
                              </center>
                              </div>
                              {% comment %} <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
                                <h6 class="font-weight-bold mb-0">$236</h6>
                              </div> {% endcomment %}
                            </div>
                            <p style="text-align: center;">{{proj_det.description}}</p>
                          </div>
                        </div>
                    </div>
        </div>
        
          </div>
        </div>
      </div>
      
    </div>
   
    {% comment %} <div class="container  d-flex justify-content-center" >  
         
      <div class="row">
          <div class="row">
              <div class="col-md-6">
                <a href="/base_app/BRadmin_proj_mngrs" style="text-decoration: none; color: white;"><div class="card mb-4">
                  <div class="card-body ">
                    
                    <div class="row">
                        
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">Project Team</h2>
                          
                        </div>
                        
                      </div>
                  
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-codepen text-primary ms-auto"></i>
                      </div> 
                    </div>
                  </div>
                </div></a>
              </div>
              <div class="col-md-6 ">
                <div class="card mb-4" >
                  
                  <div class="card-body d-flex d-sm-block d-md-flex align-items-center">
                    
                    <div class="row">
                      
                      <div class="col-8 col-sm-12 col-xl-8 my-auto">
                        <div class="d-flex d-sm-block d-md-flex align-items-center">
                          <h2 class="mb-0">Status</h2>
                          
                        </div>
                        <div class="badge badge-outline-warning">Pending</div>
                      </div>
                      
                      <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                        <i class="icon-lg mdi mdi-wallet-travel text-danger ms-auto"></i>
                      
                      </div>
                      
                    </div>
                  </div>
                
                </div>
              </div>
              </div>
          
       </div> {% endcomment %}
       <center>
        <div class="row " style="margin-top: 20px;">
          <div class="col-sm-6 grid-margin">
            <div class="card">
              <a href="{% url 'BRadmin_proj_mngrs' proj_det.id %}" style="text-decoration: none; color: white;">
                <div class="card-body">
                  {% comment %} <h5>      </h5> {% endcomment %}
                  <div class="row">
                    <div class="col-8 col-sm-12 col-xl-8 my-auto">
                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                        <h4 class="mb-0">Project Team</h4>
                        <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+3.5%</p> -->
                      </div>
                      <!-- <h6 class="text-muted font-weight-normal">11.38% Since last month</h6> -->
                    </div>
                    <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                      <i class="icon-lg mdi mdi-account-group text-primary ms-auto"></i>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-sm-6 grid-margin">
            <div class="card">
              
              <div class="card-body">
                {% comment %} <h5>Status</h5> {% endcomment %}
                <div class="row">
                  <div class="col-8 col-sm-12 col-xl-8 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                      <h4 class="mb-0">Status</h4>
                    
                      <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+8.3%</p> -->
                    </div><br>
                    <td>
                  
                      <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{proj_det.progress}}%" aria-valuenow="{{proj_det.progress}}" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                
                  </td>

                    <!-- <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6> -->
                  </div>
                  
                  <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    {% comment %} <div class="badge-lg ms-10px badge-outline-warning">Pending</div> {% endcomment %}
                    <i class="icon-lg mdi mdi-timer-sand text-primary ms-auto"></i>
                  </div>

                </div>
              </div>
            </div>
          </div>
          
        </div>
    
    
      </center>
      <script>
        $(document).ready(function () {
  const show_percent = true;
  var progressBars = $(".progress-bar");
  for (i = 0; i < progressBars.length; i++) {
    var progress = $(progressBars[i]).attr("aria-valuenow");
    $(progressBars[i]).width(progress + "%");
    if (show_percent) {
      $(progressBars[i]).text(progress + "%");
    }
    if (progress >= "75" ) {
      //90 and above
      $(progressBars[i]).addClass("bg-success");
    } else if (progress >= "25" && progress < "75") {
      $(progressBars[i]).addClass("bg-warning"); //From 30 to 44
    } else if (progress == "100" ) {
      $(progressBars[i]).addClass("bg-success");
    } else {
      //29 and under
      $(progressBars[i]).addClass("bg-danger");
    }
  }
});

      </script>

{% endblock %}