{% extends 'devindex.html' %}
{% load static %}
{% block content %}

<style>
@media screen and (max-width: 61em) {
     .mb-0 {
        margin-left: -30px;
        padding-top: 0px;
    }    
}
</style>

<div class="container-scroller pt-5">
      <div class="row w-100 m-0 pt-5">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center pt-5">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
                <div class="row">
                    <div class=" col-sm-12 col-md-12 col-lg-9 ">
                      <div class="d-flex d-sm-block d-md-flex align-items-center">
                        <h2 class="mb-0">ISSUE REPORTED SUCCESSFULLY</h2>
                      </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 text-right">
                      <i class="icon-lg mdi mdi-checkbox-marked-outline text-success ms-auto"></i>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>
  </div>

{% endblock content %}