{% extends 'promanagerindex.html' %}
{% load static %}


{% block content %}
<style>
</style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xl-3 col-sm-6 col-12 grid-margin stretch-card">
              <div class="card"><a href="man_team">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class=" mb-0">Team</h3>
                        {% comment %} <p class="text-success ms-2 mb-0 font-weight-medium">+3.5%</p> {% endcomment %}
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="icon icon-box-success ">
                        <span class="mdi mdi-arrow-top-right icon-item"></span>
                      </div>
                    </div>
                  </div>
                  {% comment %} <h6 class="text-muted font-weight-normal">Team</h6> {% endcomment %}
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-sm-6  col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-9">
                      <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">Attendance</h3>
                        {% comment %} <p class="text-success ms-2 mb-0 font-weight-medium">+11%</p> {% endcomment %}
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="icon icon-box-success">
                        <span class="mdi mdi-arrow-top-right icon-item"></span>
                      </div>
                    </div>
              </div>
            </div>
          </div>
    </div>
</body>

{% endblock content %}