{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="row" style="margin: 30px;">
  <h2 class="text-muted">Completed Projects</h2>
</div>
<center>
  <div class="row " style="margin-top: 20px;">
    <div class="col-sm-4 grid-margin">
      <div class="card">
        <a href="/app/man_cmpltd_proj_det" style="text-decoration: none; color: white;">
          <div class="card-body">
            {% comment %} <h5>Team1</h5> {% endcomment %}
            <div class="row">
              <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0">Project 1</h4>
                  <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+3.5%</p> -->
                </div>
                <!-- <h6 class="text-muted font-weight-normal">11.38% Since last month</h6> -->
              </div>
              <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-codepen text-primary ms-auto"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-4 grid-margin">
      <div class="card">
        <a href="/app/man_cmpltd_proj_det" style="text-decoration: none; color: white;">
        <div class="card-body">
          {% comment %} <h5>Team2</h5> {% endcomment %}
          <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0">Project 2</h4>
                <!-- <p class="text-success ms-2 mb-0 font-weight-medium">+8.3%</p> -->
              </div>
              <!-- <h6 class="text-muted font-weight-normal"> 9.61% Since last month</h6> -->
            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-codepen text-danger ms-auto"></i>
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>
    <div class="col-sm-4 grid-margin">
      <div class="card">
        <a href="/app/man_cmpltd_proj_det" style="text-decoration: none; color: white;">
        <div class="card-body">
          {% comment %} <h5>Team3</h5> {% endcomment %}
          <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0">Project 3</h4>
                <!-- <p class="text-danger ms-2 mb-0 font-weight-medium">-2.1% </p> -->
              </div>
              <!-- <h6 class="text-muted font-weight-normal">2.27% Since last month</h6> -->
            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-codepen text-success ms-auto"></i>
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>


</center>
{% endblock %}