{% extends 'manager_index.html' %}
{% load static %}
{% block content %}
<div class="row pt-3" >
    <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">EMPLOYEES</div></div>
    <div class="row mt-4">
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-2">
        <div class="card">
          <a href="Manager_tl" class="text-decoration-none text-white ">
            <div class="card-body">
              <div class="row">
                <div class="col-8 col-lg-4 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0" style="color:#ffffff;">TL</h2>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-xl-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-codepen text-primary ms-auto"></i>
              </div>
            </div>
          </div></a>
      </div>
    </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-12 mt-2 ">
        <div class="card">
          <a href="" class="text-decoration-none text-white">
            <div class="card-body">
              <div class="row">
                <div class="col-12 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0" style="color:#ffffff;">Developer</h2>
                  </div>
                </div>
                <div class="col-12 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-cube-unfolded text-primary ms-auto"></i>
                </div>
              </div>
            </div></a>
        </div>
      </div>
      <div class="col-lg-4 mt-2 ">
       </div>
      </div>
     
{% endblock %}