{% extends 'promanagerindex.html' %}
{% load static %}
{% block content %}
<style>
  .head {
    color: #6c7293;
    font-size: 20px;
    font-weight: 600;
    margin-top: auto;
    padding: 0.2% 1% 0.5% 1%;
    width: 79%;
  }
</style>

<div class="row">
  <div class="head">Reported Issues</div>
</div>



<div class="row" style="padding-top:20px;">

  <div class="col-md-4 col-lg-4 col-12  grid-margin">
    <div class="card" style="max-height: 250px">
      <a href="current" style="text-decoration: none;">
        <div class="card-body">
          <a href="projectMANreportedissue" style="text-decoration: none">

            <div class="row" style="padding-top:10px;">
              <div class="col-12 col-sm-12 col-lg-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                  <h4 class="mb-0" style="color:white;">Reported issues</h4>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-lg-4 text-center text-xl-right">
                <i class="icon-lg mdi mdi-archive text-primary ms-auto"></i>
              </div>
            </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 col-12 grid-margin">
    <div class="card" style="max-height: 250px">
      <a href="projectMANreportissue" style="text-decoration: none">

        <div class="card-body">
          <div class="row" style="padding-top:10px;">
            <div class="col-12 col-sm-12 col-lg-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">Report an issue</h4>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-arrange-send-to-back text-warning ms-auto"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 col-12 grid-margin">
    <div class="card" style="max-height: 250px">
      <a href="{% url 'projectmanager_tlreported'%}" style="text-decoration: none">

        <div class="card-body">
          <div class="row" style="padding-top:10px;">
            <div class="col-12 col-sm-12 col-lg-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h4 class="mb-0" style="color:white;">Tl Reported Issue </h4>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-bitbucket text-danger ms-auto"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

</div>

{% endblock %}