{%extends 'index_trainingmanager.html'%} {% load static %} {% block content %}

<!-- Trainers unsolved and solved issue -->

<div class="row">
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card pt-3">
      <a href="{% url 'trainerunsolvedissue'%}" style="text-decoration: none">
        <div class="card-body">
          <h4 class="card-title text-center text-danger" style="font-size: 25px">
            Unsolved Issue
          </h4>
          <canvas id="transaction-history" class="transaction-chart"></canvas>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-6 grid-margin stretch-card">
    <div class="card pt-3">
      <a href="{% url 'trainersolvedissue'%}" style="text-decoration: none">
        <div class="card-body">
          <h4 class="card-title text-center text-success" style="font-size: 25px">
            Solved issue</h4>
          <canvas id="transaction-history1" class="transaction-chart"></canvas>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- end here -->

{% endblock %}