  {% extends 'index.html' %}
{% block content %}
  {% load static %}
  <style>
  #a
  {
    font-size: 100%;
  }
      

  </style>
<div class="row ">
              <div class="col-12 grid-margin">
         <h2>  <small class="text-muted">Tasks </small>
                      </h2>
</div></div>
  <div class="row">
    <div class="col-sm-4 grid-margin">
      <div class="card">
          <a href="givetask" style="cursor: pointer;text-decoration: none;color: inherit;">
        <div class="card-body">
    
          <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h6 class="mb-0" id="a">Give tasks</h6>
              </div>
         
            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-codepen text-primary ms-auto"></i>
            </div>
          </div>
       
        </div>
    </a>
      </div>
    </div>
    <div class="col-sm-4 grid-margin">
      <div class="card">
          <a href="currenttasks" style="cursor: pointer;text-decoration: none;color: inherit;">
        <div class="card-body">
          
          <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h3 class="mb-0" id="a">Current Tasks</h3>
         
              </div>
           
            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-wallet-travel text-danger ms-auto"></i>
            </div>
          </div>
        </div>
      </a>
      </div>
    </div>
    <div class="col-sm-4 grid-margin">
      <div class="card">
                <a href="previoustasks" style="cursor: pointer;text-decoration: none;color: inherit;">
        <div class="card-body">
        
          <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                <h2 class="mb-0" id="a">Previous tasks</h2>
              
              </div>
           
            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-monitor text-success ms-auto"></i>
            </div>
          </div>
        </div>
      </a></div>
    </div>
  </div>
  {% endblock %}