{% extends 'TLindex.html' %}
{% load static %}
{% block content %}
<style>
  * {
    color: #6C7293;
  }

  .card {
    margin-top: 1%;
  }

  #qwe {
    font-size: 19px;
    font-weight: 500;
  }

  .card .card-body {
    flex: 1 1 auto;
    padding: 0.5rem 0.2rem;
  }


  * {
    color: #6C7293;
  }

  .table1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
  }

  th,
  td {
    text-align: center;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #191c24;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .card-title {
    font-size: 20px;
    font-weight: 900px;
  }
</style>

<h2>Assigned Tasks</h2>

<div class="row">
  <div class="col-12 grid-margin table1">
    <div class="card p-3">
      <div class="card-body">
        <h4 class="card-title ">Tasks</h4>
        <input type="text" class="form-control "  onkeyup="myFunction()" id="search" name="search" autocomplete="off" placeholder="Search...">
        <br>
        <div class="table-responsive">
          <table class="table" id="myTable">
            <thead>
              <tr>
                <!-- <th>
                                  <div class="form-check form-check-muted m-0">
                                      <label class="form-check-label">
                                          <input type="checkbox" class="form-check-input">
                                      </label>
                                  </div>
                              </th> -->
                <th> Sl.No </th>
                <th> Task Name </th>
                <th> Description </th>
                <th> Start Date </th>
                <th> Due Date </th>
                <th> File Download</th>
                <th> Action</th>


              </tr>
            </thead>
            <tbody>
              {% for tas in task %}
              <tr>
                
                  <td>{{forloop.counter}}</td>
                  <td>{{tas.tasks}} </td>
                  <td>{{tas.description}} </td>
                  <td> {{tas.startdate|date:"d-m-Y"}} </td>
                  <td> {{tas.enddate|date:"d-m-Y"}} </td>
                  <td><a href="{{tas.files.url}}" download ><button class="btn btn-outline-info">Download</button></a></td>
                  {% if tas.status == "" %}
                  
                  <td><a href="{% url 'TLtasksub' tas.id %}">
                    <div class="badge badge-outline-primary">Pending</div>
                  </a>
                  </td>
                  {% else %}
                  <td>
                    <div class="badge badge-outline-success">submitted</div>
                
                  </td>
                  {% endif %}
              </tr>
              {% endfor %}
            
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  function myFunction() {
   var input, filter, table, tr, td, i, txtValue;
   input = document.getElementById("search");
   filter = input.value.toUpperCase();
   table = document.getElementById("myTable");
   tr = table.getElementsByTagName("tr");
   for (i = 0; i < tr.length; i++) {
     td = tr[i].getElementsByTagName("td")[1];
     if (td) {
       txtValue = td.textContent || td.innerText;
       if (txtValue.toUpperCase().indexOf(filter) > -1) {
         tr[i].style.display = "";
       } else {
         tr[i].style.display = "none";
       }
     }
   }
 }
 </script>




{% endblock %}