{%extends 'trainer_index.html'%} 
{% load static %} 
{% block content %}




<div class="row" style="padding-top:50px; ">
  <div class="col-12 col-sm-2 col-md-3 col-lg-3 "></div>
  

<div class="col-12 col-sm-8 col-md-6 col-lg-6 grid-margin">
  <div class="card" style="height:auto;">
    <div class="card-body">
      <div class="row">
        <div class="col-8 col-sm-8 col-md-8 col-lg-8 mt-3">
          <h4 class="card-description" style="color:white">Add Attendance</h4>
          <p class="card-description" >{{ mem.fullname }}</p>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
          <img
            src="{{mem.photo.url}}"
            class="img-fluid rounded-circle mb-3"
            alt="image"
            style="margin-right: 20px;  height:100px; width:100px;"
          />
        </div>
      </div>
      <br />
      <form class="form-sample" method="post"  >
      {% csrf_token %}

      <div class="form-group row">
        <label for="exampleInputEmail2" class="col-3 col-sm-3 col-md-3 col-lg-3 col-form-label">Date</label>
        <div class="col-9  col-sm-9 col-md-9 col-lg-9">
            <input type="date" id="txtDate" name="date" class="form-control text-light" id="exampleInputStartdate" required>
        </div>
    </div>
       <br>
        

        <div class="row " >
          <div class="col-sm-12 col-md-12">
            <div class="form-group row">          
                
                <div class="col-3 col-sm-3 col-md-3 col-lg-3"></div>
                <div class="col-9 col-sm-9 col-md-9 col-lg-9"  >
                    <label for="Precent" style="font-size:17px;">Present</label>
                    <input type="radio" name="pres" value="1" style="font-size:19px;">

                    &nbsp;&nbsp;
                    <label for="Absent" style="font-size:17px;">Absent</label>
                    <input type="radio" name="pres"  value="0" style="font-size:19px;">
                    
                </div>
                
           
            </div>
          </div>
        </div>
</div>
        
                <div class="row mt-4 mb-5">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group row">
                        <div >
                            <center>
                            <button type="Submit" class="btn btn-outline-primary btn-icon-text"><i class="mdi mdi-file-check btn-icon-prepend"></i>
                 Submit </button>
                            </center>
                        <div>
                    </div>
                     </div>
                </div>
          </div>



          
      </form>
    </div>
    
  </div>



  

</div>
</div>
</div>
<script>
  var dtToday = new Date();
  var dtToday = new Date();
   var month = dtToday.getMonth() + 1;
   var day = dtToday.getDate();
   var year = dtToday.getFullYear();
   if (month < 10)
        month = '0' + month.toString();
    if (day < 10)
        day = '0' + day.toString();
    var maxDate = year + '-' + month + '-' + day;
    document.getElementById("txtDate").setAttribute("max", maxDate);
    
    
            
            
</script>




{%endblock%}