{% extends 'trainee_index.html' %} {% load static %} {% block content %}

<div class="row mb-5" style="padding-top: 20px;">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin-top: -20px">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <br>
                        <h4>Reported Issue </h4><br>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name" style="color:white;">
                            </div>
                        </form>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table" id="myTable">
                        <thead>
                            <tr>

                                <th> Name </th>
                                <th> To </th>
                                <th style="padding-left:160px"> Issue</th>
                                <th style="padding-left:40px"> Status </th>
                            </tr>
                        </thead>
                        <tbody> {% if n %} {% for t in n %}
                            <tr>

                                <td>

                                    <span>{{t.reporter.fullname}}</span>
                                </td>
                                <td>{{t.reported_to.designation.designation}}</td>
                                <td class="text-wrap text-justify" style="width:550px">{{t.issue}}</td>

                                <td>
                                    {% if t.issuestatus == '0' %}

                                    <div class="badge badge-outline-danger" style="width: 105px;">
                                        <i class="mdi mdi-playlist-remove"></i>&nbsp; Un-Verified
                                    </div>

                                    {% else %}

                                    <div class="badge badge-outline-success" data-toggle="modal" data-target="#myModal{{t.id}}" style="width: 105px;">
                                        <i class="mdi mdi-playlist-check"></i>&nbsp; Verified
                                    </div>
                                    {% endif %}

                                </td>
                            </tr>

                            {% endfor %}{% else %}
                            <h5>Nothing to display...</h5>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>



{% for t in n %}
<!-- Modal -->
<div class="modal" id="myModal{{t.id}}">
    <div class="modal-dialog">
        <div class="col-12 col-sm-12 col-md-11 col-lg-12 grid-margin stretch-card bg-dark text-light modal-content">


            <!-- Modal Header -->

            <div class="modal-header">
                <h4 class="modal-title">Reply</h4>
                <button type="button" style="color: white;" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->



            <div class="modal-body">
                <div class="card">
                    <div class="card-body">


                        <div class="row">

                            <p class="col-12 grid-margin stretch-card text-wrap text-justify text-light" style="background-color: dark-grey;width: 400px;
                    " rows="6">{{t.reply}}</p>

                        </div>

                    </div>
                </div>


                <!-- Modal footer -->

                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>
</div>
{%endfor%}

<!-- modal end -->

<script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>



{% endblock %}