{% extends 'index_trainingmanager.html' %} {% block content %} {% load static %}

<div class="row" style="padding-top:20px;">
    

<div class="row" style="padding-top:20px;">
    <div class="col-sm-6 grid-margin">
        <a href="{% url 'trainers_leavelist' %}" style="text-decoration: none">
            <div class="card" style="height: 180px">

                <div class="card-body">

                    <div class="row" style="padding-top:20px;">
                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">

                                <h3 class="mb-0" style="color:white; font-size:20px;">Trainers Leave List </h3>


                            </div>

                        </div>
                        <div class="col-4 col-sm-12 col-xl-2 text-center text-xl-right">
                            <i class="icon-lg mdi mdi-clipboard-text text-primary ms-auto"></i>
                        </div>
                    </div>
                </div>

            </div>
        </a>
    </div>

    <div class="col-sm-6 grid-margin">
        <a href="/trainer_leavestatus/" style="text-decoration: none">
            <div class="card" style="height: 180px">
                <div class="card-body">


                    <div class="row" style="padding-top:20px;">
                        <div class="col-8 col-sm-12 col-xl-8 my-auto">
                            <div class="d-flex d-sm-block d-md-flex align-items-center">

                                <h3 class="mb-0" style="color:white; font-size: 20px;">Trainer Leave status</h3>


                            </div>


                        </div>
                        <div class="col-4 col-sm-12 col-xl-2 text-center text-xl-right">
                            <i class="icon-lg mdi mdi-clipboard-text text-primary ms-auto"></i>
                        </div>
                    </div>

                </div>
            </div>
        </a>
    </div>
</div>


<!-- end -->


{% endblock %}