{%extends 'trainer_index.html'%}
{% load static %}
{% block content %}
{% comment %} <style>
    select{
        width: 100px;
        text-overflow: auto;
    }
</style> {% endcomment %}

<div class="row" style="padding-top:20px; ">
  <div class="col-12 col-sm-2 col-sm-2 col-md-2 col-lg-2"></div>
  



<div class="col-12 col-sm-8 col-md-8 col-lg-8 grid-margin stretch-card">
    <div class="card"  >
      <div class="card-body" style="height:auto;padding-top:20px; ">
        <br>
        <center>
        <h3 class="card-title">View Attendance</h3>
        </center>
      <br><br>
        
        <form class="forms-sample" action="/trainer_attendance_trainer_viewattendancelist/" method='post'>
           {% csrf_token %} 
           <div class="form-group row">
            <label for="exampleInputEmail2" class="col-4 col-sm-4 col-md-4 col-lg-4 col-form-label">Start Date</label>
            <div class="col-8  col-sm-8 col-md-8 col-lg-8">
                <input type="date" id="txtDate" name="startdate" class="form-control text-light" id="exampleInputStartdate" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="exampleInputMobile" class="col-4 col-sm-4 col-md-4 col-lg-4 col-form-label">End Date</label>
            <div class="col-8  col-sm-8 col-md-8 col-lg-8">
                <input type="date" id="txtDate1" name="enddate" class="form-control text-light" id="exampleInputEnddate" required>
            </div>
        </div>
              
          
        <br><br>
          
        
          <div class="row mb-5">
              <center>
              <button type="Submit" class="btn btn-outline-primary btn-icon-text"><i class="mdi mdi-file-check btn-icon-prepend"></i>
                 Submit </button>
              </center>
            </div>
          </div>
        </form>
        </div>      
      </div>
    </div>
  </div>
</div>
</div>
<script>
  var dtToday = new Date();
  var dtToday = new Date();
   var month = dtToday.getMonth() + 1;
   var day = dtToday.getDate();
   var year = dtToday.getFullYear();
   if (month < 10)
        month = '0' + month.toString();
    if (day < 10)
        day = '0' + day.toString();
    var maxDate = year + '-' + month + '-' + day;
    document.getElementById("txtDate").setAttribute("max", maxDate);
    document.getElementById("txtDate1").setAttribute("max", maxDate);
    
            
            
</script>

{%endblock%}