{%extends 'testerindex.html'%}
{%load static%}
{%block content%}
<div class="row pt-3">
  <div class="" style="font-size: 20px;font-weight: 600;color:#6C7293;">
    PROJECTS
  </div>
</div>
<div class="row mt-4">
  {% for i in pros%}
  <div class="col-lg-4 col-md-4 col-sm-12 mt-2">
    <div class="card">
      <a href="{% url 'TSprojectdetails' i.project_id %}" class="text-decoration-none text-white ">
        <div class="card-body">
          <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
              <div class="d-flex d-sm-block d-md-flex align-items-center">
                
                {% for j  in new  %}
 
                {% if i.project_id == j.id  %}

                <h3 class="mb-0" style="color:white;">{{j.project}}</h3>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
              <i class="icon-lg mdi mdi-arrange-send-backward text-primary ms-auto"></i>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>





{% endblock %}