{% extends 'testerindex.html' %}
{% load static %}
{% block content %}

<style>
  #box2 {
    padding: 1% 3% 1% 3%;
    background-color: #191c24;
    border-radius: 14px;
    float: right;
    margin-top: 4%;
    margin-left: 1%;
    margin-right: 7%;
    width: 100%;
  }

  #box2 img {
    float: left;
    margin-right: 83px;
  }

  #box2 h5 {
    float: left;
    margin-right: 40px;
  }

  h5 {
    font-weight: 400;
    margin-top: 10px;
    color: #6c7293;
  }

  h5 span {
    font-weight: 400;
    margin-top: 10px;
    color: #6c7293;
  }

  #hiddendiv {
    height: auto;
    width: 90%;
    float: right;
    padding: 1%;

  }

  #box2 img {
    margin-top: 15px;
  }
  .table1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
  }

  th,
  td {
    text-align: center;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #191c24;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .card-title {
    font-size: 20px;
    font-weight: 900px;
  }
</style>
</head>

<body>

  <div class="mt-2 ml-5" style="font-size: 20px;font-weight: 600;margin-left:40px; color: #6c7293;">ASSIGNED TASK</div>
  
  
  <div class="row">
    <div class="col-12 grid-margin table1">
      <div class="card p-3">
        <div class="card-body p-0">
          <h4 class="card-title ">Tasks</h4>
          <input type="text" class="form-control " onkeyup="myFunction()" id="search" name="search" autocomplete="off" placeholder="Search...">
          <br>
          <div class="table-responsive">
            <table class="table" id="myTable">
              <thead>
                <tr>
                  <!-- <th>
                                    <div class="form-check form-check-muted m-0">
                                        <label class="form-check-label">
                                            <input type="checkbox" class="form-check-input">
                                        </label>
                                    </div>
                                </th> -->
                  <th> Sl.No </th>
                <th> Task Name </th>
                <th> Description </th>
                <th> Start Date </th>
                <th> Due Date </th>
                <th> File Download</th>
                <th> Action</th>
  
                </tr>
              </thead>
              <tbody>
                {% for tas in tasks %}
                <tr>
                     <td>{{forloop.counter}}</td>
                  <td>{{tas.tasks}} </td>
                  <td>{{tas.description}} </td>
                  <td> {{tas.startdate|date:"d-m-Y"}} </td>
                  <td> {{tas.enddate|date:"d-m-Y"}} </td>
                  <td><a href="{{tas.files.url}}" download ><button class="btn btn-outline-info">Download</button></a></td>
                  {% if tas.status == "" %}
                  
                  <td><a href="{% url 'testasksub' tas.id %}">
                    <div class="badge badge-outline-primary">Pending</div>
                  </a>
                  </td>
                  {% else %}
                  <td>
                    <div class="badge badge-outline-success">submitted</div>
                
                  </td>
                  {% endif %}
                    
                    
                  
                    
                </tr>
                {% endfor %}
                
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  <script>
    function myFunction() {
     var input, filter, table, tr, td, i, txtValue;
     input = document.getElementById("search");
     filter = input.value.toUpperCase();
     table = document.getElementById("myTable");
     tr = table.getElementsByTagName("tr");
     for (i = 0; i < tr.length; i++) {
       td = tr[i].getElementsByTagName("td")[1];
       if (td) {
         txtValue = td.textContent || td.innerText;
         if (txtValue.toUpperCase().indexOf(filter) > -1) {
           tr[i].style.display = "";
         } else {
           tr[i].style.display = "none";
         }
       }
     }
   }
   </script>
  
  
  
  




  
</body>
{% endblock %}

</html>